Babel==2.13.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
csscompressor==0.9.5
distlib==0.3.8
filelock==3.13.1
ghp-import==2.1.0
gunicorn==23.0.0
htmlmin2==0.1.13
idna==3.10
importlib-metadata==6.8.0
importlib-resources==6.1.1
itsdangerous==2.2.0
jsmin==3.0.1
kbdextension==1.0.1
Markdown==3.5.1
markdown_tables_extended==0.1.3
MarkupSafe==2.1.3
mergedeep==1.3.4
mike==2.0.0
minify==66.0.2
mkdocs==1.5.3
mkdocs-exclude-search==0.6.6
mkdocs-glightbox==0.3.7
mkdocs-material==9.4.8
mkdocs-material-extensions==1.3
mkdocs-minify-plugin==0.7.2
mkdocs-open-in-new-tab==1.0.3
mkdocs-redirects==1.2.1
packaging==23.2
paginate==0.5.6
pathspec==0.11.2
platformdirs==3.11.0
Pygments==2.16.1
pymdown-extensions==10.3.1
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.10.3
six==1.16.0
urllib3==2.0.7
verspec==0.1.0
virtualenv==20.25.0
watchdog==3.0.0
zipp==3.17.0
